
/* **************Général*************** */
* {
    margin: 0;
    padding: 0;
}

body {
    width: auto;
}

html {
    scroll-behavior: smooth;
  }

li {
    list-style-type: none;
}
 
a{   z-index: 1000;
     text-decoration: none;
     color: black;
 }

.title a{
    color: #ff0026;
}

.layout input {
    display: none;
}
 
label {
    perspective: 1000px;
    transform-style: preserve-3d;
    cursor: pointer;
  
    display: grid;
    min-height: 100%;
    width: 100%;
    height: 100%;
  }


/* ***************Réglages de la grille****************** */

.layout{
    margin: 0px auto;
    align-content: center;
    display: grid;
    grid-template-columns: 60px repeat(4, 280px) ;
    grid-template-rows: 5% repeat(7, 180px) 1%;
    gap: 50px 50px;
    grid-template-areas:
      ". . . . ."
      ". b12 b2 b17 b4"
      ". b12 b18 b7 b8"
      ". b9 b10 b15 b1"
      ". b13 b19 b5 b16"
      ". b3 b24 b24 b6"
      ". b21 b24 b24 b22"
      ". b14 b20 b23 b11"
      ". . . . ."
}

#b1 { grid-area: b1; }
#b1 .front{
    background: url(cases/1.png) center no-repeat;
    background-size: 235px 165px;}
#b2 { grid-area: b2;}
#b2 .box{
    background: url(cases/2.png) center no-repeat;
    background-size: 235px 165px;}
#b3 { grid-area: b3;}
#b3 .box{ 
    background: url(cases/3.png) center no-repeat;
    background-size: 235px 165px;}
#b4 { grid-area: b4; }
#b4 .box{ 
    background: url(cases/4.png) center no-repeat;
    background-size: 235px 165px;}
#b5 { grid-area: b5; }
#b5 .box{ 
    background: url(cases/5.png) center no-repeat;
    background-size: 235px 165px;}
#b6 { grid-area: b6; }
#b6 .box{ 
    background: url(cases/6.png) center no-repeat;
    background-size: 235px 165px;}
#b7 { grid-area: b7; }
#b7 .box{ 
    background: url(cases/7.png) center no-repeat;
    background-size: 235px 165px;}
#b8 { grid-area: b8; }
#b8 .box{ 
    background: url(cases/8.png) center no-repeat;
    background-size: 235px 165px;}
#b9 { grid-area: b9; }
#b9 .box{ 
    background: url(cases/9.png) center no-repeat;
    background-size: 235px 165px;}
#b10 { grid-area: b10; }
#b10 .box{ 
    background: url(cases/10.png) center no-repeat;
    background-size: 235px 165px;}
#b11 { grid-area: b11; }
#b11 .box{ 
    background: url(cases/11.png);
    background-size: 90%;}
#b12 { grid-area: b12;}
#b12 .box{
    background: url(images/page\ jour\ 12.jpg) center no-repeat;
    background-size: 150%;
}
#b13 { grid-area: b13; }
#b13 .box{ 
    background: url(cases/13.png) center no-repeat;
    background-size: 235px 165px;}
#b14 { grid-area: b14; }
#b14 .box{ 
    background: url(cases/14.png) center no-repeat;
    background-size: 235px 165px;}
#b15 { grid-area: b15; }
#b15 .box{ 
    background: url(cases/15.png) center no-repeat;
    background-size: 235px 165px;}
#b16 { grid-area: b16; }
#b16 .box{ 
    background: url(cases/16.png) center no-repeat;
    background-size: 235px 165px;}
#b17 { grid-area: b17; }
#b17 .box{ 
    background: url(cases/17.png) center no-repeat;
    background-size: 235px 165px;}
#b18 { grid-area: b18; }
#b18 .box{ 
    background: url(cases/18.png) center no-repeat;
    background-size: 235px 165px;}
#b19 { grid-area: b19; }
#b19 .box{ 
    background: url(cases/19.png) center no-repeat;
    background-size: 235px 165px;}
#b20 { grid-area: b20; }
#b20 .box{ 
    background: url(cases/20.png) center no-repeat;
    background-size: 235px 165px;}
#b21 { grid-area: b21; }
#b21 .box{ 
    background: url(cases/21.png) center no-repeat;
    background-size: 235px 165px;}
#b22 { grid-area: b22; }
#b22 .box{ 
    background: url(cases/22.png) center no-repeat;
    background-size: 235px 165px;}
#b23 { grid-area: b23; }
#b23 .box{
    background: url(cases/23.png) center no-repeat;
    background-size: 235px 165px;}
#b24 { grid-area: b24;}
#b24 .box{
background: url(images/pierre.jpg);
background-size: 100%;}


/* ******************Partie titre******************************** */

nav{
    z-index: 1001;
    overflow: hidden;
    background-color: #cab756;
    position: fixed;
    width: 100%;
    opacity: auto;
}

header li{
float: right;
font-size: 1.2em;
}

header li a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

#logo {
    font-family: serif;
    font-style: italic;
    font-weight: bold;
    float: left;
}


.button {
    font-style: italic;
    font-family: serif;
    width: 10%;
    height: 15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:auto;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color:red; 
    color: black; 
    border: 2px solid #f44336;
    border-radius: 5px;

}

.button:hover {
    background-color: #f44336;
    color: white;
}
  


/* ****************** Image ******************* */

#imagePrincipale {
    padding-top: 100px;
    background: url(images/cadeau-noel-1.jpg) no-repeat fixed center center;
    background-size: cover;
    height: 400px;
  }

#Trait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color:#ff0026 ;
   box-shadow: 1px 3px 2px black ;
  }

.title {
    display: flex;
    flex-direction: column;
    text-shadow: 1px 3px 2px black ;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-style: italic;
    font-family: serif;
    color: #ff0026;
}


/* ******** Début cases ******* */

.main {
    background: url(images/blur_bokeh_branches_celebration_christmas_christmas_lights_christmas_tree_close_up-1562003.jpg!d);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



/* ******** Lignes de cases **************/

.center {
    display: gird;
    position: center;
    justify-content: center;
    align-items: center;
}


.box {
    width: 100%;
    transform-style: preserve-3d;
    transition: all 1.5s;
    border: 2px transparent;
    border-radius: 15px;
    align-content: center;

  }

  .box div {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 15px;

    display: grid;
    align-items: center;
    justify-content: center;
    
    /* ******* Numéro et texte ****** */

    font-family: serif;
    color: black;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);

  }

.box .back {
    text-align: center;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #c0c0c2;
    transform: rotateY(180deg);
}

:hover + .box {
  transform: rotateY(180deg);
}


/* ********* fin partie cases ****** */




























/*
.box:hover {
    color: white;
}

.box::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 20px;
    width: 5px;
    height: 150px;
    border-radius: 50px;
    transition: all 0.25s;
    background: linear-gradient(147deg, #ff0800 74%);
}

.box:hover::before {
    background: red;
    opacity: 0.5;
    top: 0;
    left: 0;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    border-color: #385052;
}

.box p,
h1 {
    margin: 5px 50px;
    z-index: 1000;
    text-align: center;
}

*/









  
  
  
  
    
  




