/*Général*/

* {
    margin: 0;
    padding: 0;
}


/* ********************* Navbar ********** */

#blanc{
    color:white;
}

nav{
    z-index: 1001;
    overflow: hidden;
    background-color: #cab756;
    position: fixed;
    width: 100%;
    opacity: auto;
    margin-bottom: 30px
}

header li{
float: right;
font-size: 1.2em;
}

header li a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

header a{
    text-decoration: none;
    color: black;
}


li {
    list-style-type: none;
}

#logo {
    font-family: serif;
    font-style: italic;
    font-weight: bold;
    float: left;
}
.sf{
    font-family: serif;
}


/************************************************/